---
layout: layouts/base.njk
section: about
---
<h3>{{ title }}</h3>

{{ layoutContent | safe }}
<iframe width="300" height="1109" src="https://spreadsheets.google.com/tq?tqx=out:html&tq=select%20B,C&key=1-q56WpUChs3FcUC1uv0YoiHd3i0-QKVb3yOeRkGdkmo"></iframe>
